/* Styles for the application */

#canvas {
    border: 2px solid #000000;
}

/* Center the child element both horizontally and vertically */
.title-container {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    height: 10vh; /* 100% of the viewport height */
}

/* Style the h1 element if needed */
#title {
    font-size: 24px;
    /* Add any other styles you want */
}

.left {
    font-size: 25px; /* Adjust the font size */
    color: #000; /* Set the text color to black */
}

.right {
    font-size: 25px; /* Adjust the font size */
    color: #000; /* Set the text color to black */
}